table{
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
    border-collapse: collapse;
    border:1px solid rgb(255, 255, 255);
    tbody{
        .main-row{
            color: white;
            background-color:#ff6600;
            .main-slot{
                padding: 20px;
                border:none;
            }
            .text-slot{
                width: 600px;
            }
        }
        th {
            border: 1px solid #ddd;
            border-top: none;
            padding: 8px;
        }
    }
}