.add-note-section, .note-archive-section {
  padding-top: 10px;
  display: flex;
  justify-content: center; }

table {
  width: 100%;
  border-collapse: collapse; }
  table tbody .main-row {
    color: white;
    background-color: #7f2e81; }
    table tbody .main-row th {
      padding: 20px;
      border: none; }
    table tbody .main-row .text-slot {
      width: 300px; }
  table tbody th {
    border: 1px solid #ddd;
    border-top: none;
    padding: 8px; }
